div {
    /* border: 1px solid black; */
}

.hide {
    display: none;
}

#musicChart {
    width: 600px;
}

#musicChart > div {
    display: flex;
    justify-content: space-between;
}

#musicChart > div > div {
    width: 120px;
}

#musicChart > div > div:nth-child(2){
    width: 100%;
    display: flex;
}

#favorite {
    width: 600px;
}

#favorite > div {
    display: flex;
    justify-content: space-between;
}

#favorite > div > div {
    width: 120px;
}

#favorite > div > div:nth-child(2){
    width: 100%;
    display: flex;
}